body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerPlacement {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 75%;
}

header {
  height: 3rem;
  width: 65%;
  justify-content: center;
  display: flex;
  gap: 5%;
}

.btn-link {
  text-decoration: none;
}

#app1Header {
  margin-bottom: 1%;
}

.appContainer {
  color: white;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 3%;
}

#searchBar {
  background: transparent;
  margin-top: 1%;
  width: 350px;
  gap: 1%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.btn-link {
  color: aliceblue;
}

#sidebar {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  margin-right: 8%;
  width: 400px;
}

h1 {
  font-size: medium;
}

.userPhoto {
  background-image: url("./images/tomJones.jpg");
  background-position: right, left;
  height: 230px;
  width: 230px;
  margin-top: 8%;
  border-radius: 100%;
}
.realName {
  width: 75%;
  margin-top: 8%;
  font-size: large;
  font-weight: 500;
}
.userName {
  width: 75%;
  font-size: large;
  font-weight: 100;
}
.tagLine {
  margin-top: 9%;
  width: 75%;
  font-size: 12;
  font-weight: 100;
}
.buttonRowSide {
  margin-top: 6%;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9%;
}
ul {
  margin: 0;
  padding: 0;
}
.stats {
  width: 75%;
  align-items: left;
  justify-content: left;
  margin-top: 5%;
  font-size: smaller;
}

.personalInfo {
  font-weight: 300;
  width: 75%;
  border-bottom: solid 1px rgb(83, 83, 83);
  padding-bottom: 4%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin-top: 5%;
}

.highlights {
  font-weight: 300;
  width: 75%;
  border-bottom: solid 1px rgb(83, 83, 83);
  padding-bottom: 4%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin-top: 5%;
}
.organizations {
  width: 75%;
  margin-top: 3%;
  border-bottom: solid 1px rgb(83, 83, 83);
  padding-bottom: 6%;
}
.sponsors {
  width: 75%;
  margin-top: 3%;
  border-bottom: solid 1px rgb(83, 83, 83);
  padding-bottom: 6%;
}

#app1 {
  color: white;
  height: auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow: auto;
}

#app2 {
  color: white;
  margin-top: 5%;
  height: auto;
  width: 1000px;
}

#app3 {
  color: white;
  height: auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow: auto;
}

.footer img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}
.card button {
  width: 100px;
  height: 50px;
}
button img {
  width: 16px;
  height: 16px;
}
.footerPlacement {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerM {
  width: fit-content;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  border-top: solid 1px rgb(83, 83, 83);
}

.footerCenter {
  padding: 3%;
  border: none;
}

.footerLeft {
  border: none;
}

.footerRight {
  border: none;
}

.btn-secondary {
  background-color: dimgray;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  line-height: 1.1;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#app1Header {
  font-size: x-large;
}

#app2Header {
  font-size: x-large;
}

#app3Header {
  font-size: x-large;
}
