.mb-3 {
  width: 873px;
  color: white;
  padding-top: 10px;
  padding-bottom: 25px;
}
.packageHeader {
  color: white;
  border-bottom: 1px solid gray;
  width: 873px;
  padding-bottom: 10px;
  padding-top: 30px;
}
.card-body {
  border: solid rgb(58, 58, 65) 1px;
  border-radius: 10px;
  background-color: black;
}
.card {
  background-color: transparent;
  color: dimgray;
  height: 300px;
  width: 300px;
}

.card-text {
  height: 160px;
  font-family: "Times New Roman", Times, serif;
}
.form-control {
  background-color: transparent;
}
.cardHeader {
  color: antiquewhite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btn-close{
  background-color:red;
  margin-left: 150px;
  height: 10px;
}
