body {
  background-color: black;
}

#app1{
  flex-wrap: wrap;
  display: flex;
  width: 900px;
}

.mb-3{
  width:873px;
  color: white;
  padding-top: 10px;
  padding-bottom: 25px;
  
}

.packageHeader{
  color:white;
  border-bottom: 1px solid gray;
  width: 873px;
  padding-bottom: 10px;
}

.card-body{
  border: solid rgb(58, 58, 65) 1px;
  border-radius: 10px;
  background-color:black;
}

.card{
  background-color:transparent;
  padding-left: 6px;
  padding-top: 35px;
  color:dimgray;
  font-family:'Times New Roman', Times, serif;
}

.form-control{
  background-color:transparent;
}

.btn-secondary{
  background-color:dimgray;
  color: black;
}

.cardHeader{
  color:antiquewhite;
}
