body {
  background-color: black;
}

#app1{
  flex-wrap: wrap;
  display: flex;
  width: 900px;
}

.mb-3{
  width:500px;
  color: white;
}

.packageHeader{
  color:white;
}

.card-body{
  border: solid rgb(58, 58, 65) 1px;
  border-radius: 25px;
  background-color:black;
}

.card{
  background-color:black;
  padding-left: auto;
  padding-top: 3px;
  width: auto;
}
