body {
  background-color: black;
}

#app1{
  flex-wrap: wrap;
  display: flex;
  width: 900px;
}

.mb-3{
  width:500px;
  color: white;
}

.packageHeader{
  color:white;
}

.card-body{
  border: solid rgb(58, 58, 65) 1px;
  border-radius: 10px;
  background-color:black;
}

.card{
  background-color:transparent;
  padding-left: 6px;
  padding-top: 35px;
}

.form-control{
  background-color:transparent;
}

.beta{
  height: 50px;
}
